.contacts {
    margin-bottom: 150px;
}
.contacts-title {
    font-size: 36px;
    margin-bottom: 49.92px;
}
.contacts-body{
    display: flex;
    gap: 0 22.08px;
}
.contacts-img{
    transform: translateY(10%);
    transition: all .4s;
    opacity: 0;
}
.contacts-img.active {
    transform: translateX(0);
    opacity: 1;
}
.contacts-content{
    transform: translateY(-30%);
    transition: all .7s;
    opacity: 0;
}
.contacts-content.active {
    transform: translateX(0);
    opacity: 1;
}
.contacts-content__text {
    max-width: 589px;
    margin-bottom: 70px;
    font-size: 28px;
}
.contacts-content__info {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.contacts-content__info dd{
    margin-bottom: 32px;
}

@media (max-width: 1040px){
    .contacts {
        margin-bottom: 70px;
    }
    .contacts-title{
        text-align: center;
    }
    .contacts-body{
        flex-direction: column-reverse;
        justify-content: center;
        row-gap: 50px;
        text-align: center;
    }
    .contacts-content__text{
        width: 100%;
        margin: 0 auto 70px;
    }
    .contacts-img img{
        width: 100%;
    }
}