.header {
    /* max-height: 100vh; */
    margin-bottom: 156px;
    background-image: url("./../img/header/header-bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 30px;
}
.header-top {}
.header-top__inner {
    display: flex;
}
.header-info {
    display: flex;
    align-self: flex-start;
    align-items: center;
}
.header_logo {
    margin-right: 240px;
    padding-top: 8px;
}
.nav {
    margin-right: 190px;
}
.header_list {
    display: flex;
    column-gap: 30px;
}
.header-item {}
.header-link {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--colorGreen);
}
.header-link:hover{
    text-decoration: underline;
}
.header-phone {
    font-size: 18px;
    font-weight: 500;
    color: #BB8A52;
}
.header-body {
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 44.96px;
    column-gap: 101.44px;
}
.header-content {}
.header-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 510px;
    line-height: 1.2;
}
.header-text span {
    color: red;               
}
.header-title {
    font-size: 48px;
    width: 428px;
    line-height: 1.3;
    margin-bottom: 80px;
}
.header-button {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 32px;
    background: #FFBA00;
    font-size: 20px;
    font-weight: 500;
    color: var(--colorGreen);
    transition: all .3s ease;
}
.header-button:hover {
    background: rgb(204, 179, 112);
}
.header-img {}
.header-bottom{
    text-align: center;
}