.how {
    margin-bottom: 150px;
    overflow-x: hidden;
}
.how-title {
    font-size: 36px;
    margin-bottom: 49.92px;
}
.how-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1154px;
    counter-reset: my-count;
    gap: 0 15.04px;
}
.how-list__item {
    font-size: 28px;
    position: relative;
    padding-left: 64px;
    display: flex;
    align-items: center;
    height: 185px;
}
.how-list__item::before {
    content: '';
    content: counter(my-count, decimal-leading-zero);
    counter-increment: my-count;
    position: absolute;
    left: 0;
    color: rgba(109, 151, 115, 0.20);
    font-family: Kaisei Decol;
    font-size: 128px;
    font-weight: 400;
}
@media (max-width:  1130px){
    .how {
        margin-bottom: 50px;
    }
    .how-title {
        text-align: center;
    }
    .how-list{
       flex-direction: column;
       align-items: center;
       width: 100%;
    }
}
@media (max-width:  395px){
    .how-title {
        font-size: 35px;
        margin-bottom: 0;
    }
    .how-list__item{
        font-size: 20px;
    }
}


